table, td, tr{
    border: 1px black solid;
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
}
#iconos{
    margin: 10px;
    font-size: 30px;
}
table{
    margin: auto;
}
h1{
    text-align: center;
}

*{
    background-color: rgb(209, 228, 191);
}

#nombre{
    font-size: 25px;
    text-align: center;
}

#botonReinicio{
    margin: auto;
    height: 50px;
    width: 150px;
    border: black solid 1px;
    background-color: white;
}

#textoReinicio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#marcador{
    margin: 50px;
    height: 100px;
    width: 200px;
    border: black solid 1px;
    
}

#puntuacion{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}