h1{
    margin-left: 60px;
}
tr{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    width: 45px;
    height: 45px;
}

table{
    margin: 60px;
    border: 1px solid black;
    border-collapse: collapse;
}